.home-container {
  background-image: url("./keyboard.png") ;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  font-family: sans-serif;
  position: relative;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.6);
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 25px;
}

.content {
  position: absolute;
  top: 45%;
  left: 40%;

  transform: translateY(-50%);
  display: flex;
  gap: 40px;
  align-items: center;
  max-width: 80%;
}

.cap-icon {
  font-size: 200px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
}

.highlight {
  color: #4db8ff;
}
